<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>kakao</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kakao122ca40f4a7bdf833129a994b05e4774</string>
			</array>
		</dict>
	</array>
	<key>KAKAO_APP_KEY</key>
	<string>122ca40f4a7bdf833129a994b05e4774</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>이 앱은 사용자의 현재 위치를 기반으로 지역 진단 서비스를 제공합니다.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>이 앱은 사용자의 현재 위치를 기반으로 지역 진단 서비스를 제공합니다.</string>
</dict>
</plist>
